body {
  color: white !important;
  /* background-color: #1b1f3b !important; */
  background-color: #20248d !important;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* display: flex; */
  /* gotham bold */
}

.prewrap {
  white-space: pre-wrap;
}

.gotham-bold {
  font-family: "Gotham Bold", sans-serif;
}

.black-text {
  color: black;
}

.white-text {
  color: white !important;
}

.center {
  text-align: center !important;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}

.colour0 {
  /* color: #f59ca9; */
  background-color: #20248dd0 !important;
}

.colour1 {
  /* color: #f59ca9; */
  background-color: #575bdd !important;
}

.colour2 {
  /* color: #f6828c; */
  /* background-color: #1b1f3b !important; */
  background-color: #2596be !important;
}

.colour3 {
  /* color: #df57bc; */
  background-color: #b14aed !important;
}

.colour4 {
  /* color: #a03e99; */
  background-color: #c874d9 !important;
}

.colour5 {
  /* color: #371e30; */
  background-color: #e1bbc9 !important;
}

.scroll {
  /* width: 100%; */
  height: 100%;
}

.bottom-left {
  position: fixed;
  left: 2em;
  bottom: 2em;
}
.bottom-right {
  position: fixed;
  right: 2em;
  bottom: 2em;
}

.mic-active {
  color: red;
  transition: 0.25s ease-in;
}

.fadeOut {
  opacity: 0;
  transition: 0.25s ease-in;
}

.hidden {
  opacity: 0;
}

.disappear {
  width: 0;
  height: 0;
}

.fadeIn {
  opacity: 1;
  transition: 0.25s ease-in;
}

.fixedPosition {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 4;
}

.offset {
  padding-top: 6rem !important;
}

.noScrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

.black {
  --bs-modal-bg: #212529 !important;
}

.glow {
  opacity: 0.7;
  transition: 0.25s;
}

.glow:hover {
  opacity: 1 !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
